<div class="hero-unit">
  <h1>Welcome to Manabase</h1>
  <p>Your gateway to competitive Magic: the Gathering.</p>
  <h4>New to Manabase?</h4>

  <p><a href="/signup" class="btn primary large">Sign up! &raquo; <small>It's free</small></a></p>
</div>

<div class="row">
  <div class="span4">
    <h3>Top decklists</h3>
      <p>Find out what decks currently perform well in tournaments and analyse the latest metagame trends.</p>
  </div>
  <div class="span4">
    <h3>Manage your decks</h3>
    <p>
      Build your decks with our user-friendly deck editor. Keep your decklists in a one place and access them from any computers.
    </p>
 </div>
  <div class="span4">
    <h3>Test your decks</h3>
    <p>Play against other player right from your browser.</p>
  </div>
  <div class="span4">
    <h3>Check card prices</h3>
    <p>Find the best prices for the cards you need.</p>
  </div>
</div>
